<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- redirection des logs vers la sortir Console Standard -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%-20(%thread)] %-40(%0.40logger{36}) : %highlight(%msg%n)</pattern>
		</encoder>
	</appender>
	<!-- regle de logs par defaut. Ici : niveau INFO vers la sortie standard -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>